<h4>analyses</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
    <div class="form-row col">

        Name : <input type="name" class="form-control" placeholder="name" formControlName="name">
    </div>


    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>analysius type</th>
                <th>details</th>
                <th>dta spet</th>
                <th></th>
                <th> <button (click)="agregaranalyses()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>+</mat-icon>
        </button></th>
            </tr>
        </thead>


        <tbody formArrayName="analyses" *ngFor="let analyses of analyses.controls; let i = index">


            <tr [formGroupName]="i">


                <td>
                    <input type="text" [attr.id]="'id' + i" class="form-control" formControlName="id">
                </td>

                <td>
                    <select type="analyses_type" [attr.id]="'analyses_type' + i" class="form-control" formControlName="analyses_type" matNativeControl required>
                    
                    
                      <option value="Mean">Mean</option>
                      <option value="Median">Median</option>
                      <option value="Mode">Mode</option>
                      <option value="Standar_Deviation">Standar_Deviation</option>
                      <option value="Inter_quartile_range">Inter_quartile_range</option>
                      <option value="Range">Range</option>
                      <option value="Ranking">Ranking</option> 
                       <option value="Confidence_Interval">Mode</option>
                      <option value="Correlation">Correlation</option>
                      <option value="Null_hypothesys_test">Null_hypothesys_test</option> 
                       <option value="R_script">R_script</option>
                      <option value="Box_Plot">Box_Plot</option>
                      <option value="Histogram">Histogram</option>
                      <option value="scatter_plot">scatter_plot</option>
                      
                    </select>
                </td>

                <td>
                    <input type="details" [attr.id]="'details' + i" class="form-control" formControlName="details">
                </td>

                <td>
                    <input type="data_spect" [attr.id]="'data_spect' + i" class="form-control" formControlName="data_spect">
                </td>






                <td>
                    <button (click)="removerExperimenters(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
                </td>
            </tr>

        </tbody>
    </table>







    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>


<hr>


<pre>

  {{ forma.value | json }}

</pre>