<body>
<h2>Context</h2>




<mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">

  <mat-label style="font-size: large; font-weight: bold; margin-bottom: 2%;"><div><span>absctract </span></div> </mat-label>
  <div style="margin-bottom: 2%;">  
    <label>Context:
      <input [(ngModel)]="absctract.Context" placeholder="Context"/>
    </label>
    <label>Goal:
      <input [(ngModel)]="absctract.Goal" placeholder="Goal"/>
    </label>
    <label>Method:
      <input [(ngModel)]="absctract.Method" placeholder="Method"/>
    </label>
    <label>Result:
      <input [(ngModel)]="absctract.Result" placeholder="Result"/>
    </label>
    <label>Conclusions:
      <input [(ngModel)]="absctract.Conclusions" placeholder="Conclusions"/>
    </label> </div>



    <mat-label  style="font-size: large; font-weight: bold; margin-bottom: 2%;">
    <div ><span>Goal </span></div> </mat-label>
  <div>  
    <label>   Analyce :  
      <input [(ngModel)]="goal.analyce" placeholder="Context"/>
    </label>
    <label>for purpose of : 
      <input [(ngModel)]="goal.purpose_of" placeholder="Goal"/>
    </label>
    <label>
      With respect to
      <input [(ngModel)]="goal.respect_to" placeholder="Method"/>
    </label>
    <label>  From the point of view of :
      <input [(ngModel)]="goal.point_of_view" placeholder="Result"/>
    </label>
    <label> In the context of 
      <input [(ngModel)]="goal.context_of" placeholder="Conclusions"/>
    </label>

  </div>

<mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218); margin-top: 2%;">
  <mat-label  style="font-size: large; font-weight: bold;">
  <span>experimenters </span>
  <button (click)="agregarExperimenters()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>
  </mat-label>
  
  <table>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>organization</th>
      <th>rol</th>
      <th>task</th>
    </tr>



<tbody formArrayName="experimenters" *ngFor="let experimenters of experimenters; let i = index " >
  
  
    
    
     
      <td >        
        <input [(ngModel)]="experimenters.name" placeholder="Name"/>
      
      </td>
      
      <td >      
        <input [(ngModel)]="experimenters.email" placeholder="email"/> 
        
      </td>
      
      <td>  
        <input [(ngModel)]="experimenters.organization" placeholder="organization"/>
        
      </td>
     
      <td >   
        <input [(ngModel)]="experimenters.rol" placeholder="rol"/>    
      
      </td>
      <td >   
        <input [(ngModel)]="experimenters.task" placeholder="task"/>    
      
      </td>
      
      
   
    
  
  <td>  
    <button (click)="removerExperimenters(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   
  </td>

  
</tbody>
  </table>

</mat-card>

  
    <button style="margin-left: 50%"  (click)="guardar(context)"> GUARDAR</button>
  



  </mat-card>

  </body>

  