
  
  <mat-label style="font-size: large; font-weight: bold;" ><span>Analyses </span></mat-label>
  <button (click)="agregarAnalyses()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>

  <div *ngIf= "error">
    <h1 style="color: red;" > {{errorMen}}</h1>
  
  
  </div>

<div formArrayName="analyse" *ngFor="let analyse of analyses; let i = index " >
  
  <mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
    
    
     
      Name      
        <input [(ngModel)]="analyse.name" placeholder="Name"/>
        <div *ngFor="let v of analyses; let varia = index " >
          <div *ngIf="i !=varia" >
          
          <div *ngIf="analyses[i].name ===  analyses[varia].name" style="color: red;">
            Error* el nombre esta repetido
        </div>
      </div>
    </div>
      
   
        <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218); margin-top: 2%;">
        Tables


        <button (click)="agregarTable(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          +
        </button>
        
  <table>
    <tr>
      <th>Id</th>
      <th>analyses_type</th>
      <th>details</th>
      <th>data_spec</th>

    </tr>
      <tbody formArrayName="table" *ngFor="let table of analyse.table; let j = index " >
        
        
          
          
           
            <td >  Id      
              <input [(ngModel)]="table.id" placeholder="Id"/>
            
            </td>
            <td >  Analyses type      
              <input [(ngModel)]="table.analyses_type" placeholder="analyses_type"/>
            
            </td>
            <td >  Details      
              <input [(ngModel)]="table.details" placeholder="details"/>
            
            </td>
            <td >  Data spec      
                <input [(ngModel)]="table.data_spec" placeholder="data_spec"/>
              
              </td>
            <td>  
              <button (click)="removerTables(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
             
            </td>
      </tbody>
  </table>


</mat-card>



 
    
      
      
   
    
  
  <td>  
    <button (click)="removerAnalyses(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   
  </td>

  </mat-card>
</div>




    <button  style="margin-left: 50%" (click)="guardar(analyses)"> GUARDAR</button>
  



  



  