
  
  <mat-label style="font-size: large; font-weight: bold;" ><span>Analyses </span></mat-label>
  <button id = 'agregarAnalyses' (click)="agregarAnalyses()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>

  <div *ngIf= "error">
    <h1 style="color: red;" > {{errorMen}}</h1>
  
  
  </div>

<div formArrayName="analyse" *ngFor="let analyse of analyses; let i = index " >
  
  <mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
    
    
     
      Name      
        <input  [attr.id]='"name"+i' [(ngModel)]="analyse.name" placeholder="Name"/>
        <div *ngFor="let v of analyses; let varia = index " >
          <div *ngIf="i !=varia" >
          
          <div *ngIf="analyses[i].name ===  analyses[varia].name" style="color: red;">
            Error* el nombre esta repetido
        </div>
      </div>
    </div>
      
   
        <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218); margin-top: 2%;">
        Tables


        <button id = 'agregarTable'(click)="agregarTable(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          +
        </button>
        
  
      <div formArrayName="table" *ngFor="let table of analyse.table; let j = index " >
        
        
          
          
           
             Id      
              <input [attr.id]='"tableId"+i' [(ngModel)]="table.id" placeholder="Id"/>
            
             Analyses type      
              
              <select  class = 'analysesType'[attr.id]='"analyses_type"+i'[(ngModel)]="table.analyses_type" placeholder="analyses_type">
                <option value="Mean">Mean</option>
                <option value="Median">Median</option>
                <option value="Mode">Mode </option>
                <option value="standar_deviation">standar_deviation</option>
                <option value="inter_quartitle_range">inter_quartitle_range</option>
                <option value="range">range</option>
                <option value="ranking">ranking</option>
                <option value="confidence_interval">confidence_interval</option>
                <option value="correlation">correlation</option>
                <option value="null_hypothesis_test">null_hypothesis_test</option>
                <option value="r_script">r_script</option>
                <option value="box_plot">box_plot</option>
                <option value="histogram">histogram</option>
                <option value="scatter_plot">scatter_plot</option>
                

                
              </select>
            
            
           
              
              <mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
              Details
             <div *ngIf="table.analyses_type == 'null_hypothesis_test' ">
               Test
              <select class = 'test'[attr.id]='"test"+i' [(ngModel)]="table.test" placeholder="details">
                <option value="kilmogorov-smirnov">kilmogorov-smirnov</option>
                <option value="levene">levene</option>
                <option value="t-student">t-student </option>
                <option value="anova">anova</option>
                <option value="wilcoxon">wilcoxon</option>                
              </select>
              <div *ngIf="table.test == 'anova'">
                Alpha
                <input [attr.id]='"alpha"+i' [(ngModel)]="table.alpha" placeholder="Name"/>

              </div>
              <div *ngIf="!valorvariableAlpha(table.alpha)"> 
                <h1 style="color: red;" > El valor del alpha debe ser numerico </h1>
              </div> 
            </div>
            
              </mat-card>
              Data spec :     
              <select class ='group_Var' [attr.id]='"group_Var"+i' [(ngModel)]="group_Var" placeholder="group_var">

                  <option value="group">Groups</option>
                  <option value="vars">Variables</option>
                     
                </select>
                           
             <div *ngIf="group_Var == 'group'">

              OF: 
              
              <div  *ngIf = "contador_of_g != Groups?.length && Groups?.length " >
               <button id= 'agregarOfGroup'(click)="agregarOfGroup(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                 +
               </button> 
              </div>
   
           
               <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
               
             <div formArrayName="var" *ngFor="let d of table.data_spec.of_group; let bv = index " >
           
               
                 
               <select class ='groupName' [(ngModel)]="d.name" placeholder="variable name">
                 <option  *ngFor="let group of Groups; let i = index " value="{{group.name}}">{{group.name}}   </option>
               
                            
               </select>
              
               
                 
                     
                     <button  id='removeOfGroup'(click)="removerOfGroup(i,bv,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
                    
                   
             </div>
               </mat-card>
               BY: 
             
               <div  *ngIf = " contador_By_g != Groups?.length && Groups?.length " >
                <button id = 'agregarByGroup' (click)="agregarByGroup(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                  +
                </button> 
               </div>
    
            
                <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
                
              <div formArrayName="var" *ngFor="let d of table.data_spec.by_group; let bv = index " >
            
                
                  
                <select class = 'groupName1' [(ngModel)]="d.name" placeholder="variable name">
                  <option  *ngFor="let group of Groups; let i = index " value="{{group.name}}">{{group.name}}   </option>
                
                             
                </select>
               
                
                  
                      
                      <button id = 'removerByGroup'(click)="removerByGroup(i,bv,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
                     
                    
              </div>
                </mat-card>

             </div>
             <div *ngIf="group_Var == 'vars'">
               OF: {{contador_of}}
              
               <div  *ngIf = " contador_of != Variables?.length && Variables?.length " >
                <button id = 'agregarOfVars' (click)="agregarOfVars(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                  +
                </button> 
               </div>
    
            
                <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
                
              <div formArrayName="var" *ngFor="let d of table.data_spec.of_variable; let bv = index " >
            
                
                  
                <select class = 'variableName' [(ngModel)]="d.name" placeholder="variable name">
                  <option  *ngFor="let variable of Variables; let i = index " value="{{variable.name}}">{{variable.name}}   </option>
                
                             
                </select>
               
                
                  
                      
                      <button id = 'removerOfVars' (click)="removerOfVars(i,bv,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
                     
                    
              </div>
                </mat-card>
                BY: {{contador_By}}
              
                <div  *ngIf = " contador_By != Variables?.length && Variables?.length " >
                 <button id='agregarByVars' (click)="agregarByVars(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                   +
                 </button> 
                </div>
     
             
                 <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
                 
               <div formArrayName="var" *ngFor="let d of table.data_spec.by_variable; let bv = index " >
             
                 
                   
                 <select class = 'variableNAme1' [(ngModel)]="d.name" placeholder="variable name">
                   <option  *ngFor="let variable of VariablesOneOf; let i = index " value="{{variable.name}}">{{variable.name}}   </option>
                 
                              
                 </select>
                
                 
                   
                       
                       <button id = 'removerByVars' (click)="removerByVars(i,bv,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
                      
                     
               </div>
                 </mat-card>

              

                Having: 
              
                <div  *ngIf = " contador_Having != Variables?.length && Variables?.length " >
                <button  id = 'agregarHaving' (click)="agregarHaving(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                  +
                </button> 
                </div>
           
    
            
                <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
                
              <div formArrayName="var" *ngFor="let hav of table.data_spec.having; let bv = index " >
                
                
                  
                  
                <select  class = 'variableNAme2' [(ngModel)]="hav.var.name" placeholder="variable name">
                    <option  *ngFor="let variable of VariablesOrdered; let i = index " value="{{variable.name}}">{{variable.name}}   </option>
                  
                               
                  </select>
                  <select  class = 'operator'  [(ngModel)]="hav.operator" placeholder="group_var">

                    <option value="=">=</option>
                 
                    <option value=">='"> >= </option>
                    <option value=">'"> > </option>                   
                       
                  </select>


                  <input id= 'value'  [(ngModel)]="hav.value" placeholder="Name"/>
                
                
                  <div *ngIf="!valorvariable(hav.var.name,hav.value)"> 
                    <h1 style="color: red;" > ERROR</h1>
                  </div> 
                              

                
                  
                      
                      <button id = 'removerHaving'  (click)="removerHaving(i,bv,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
                     
                    
              </div>
                </mat-card>
              
              
              
            


             </div>
             
              
          
         
              <button id='removerTables' (click)="removerTables(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
             
            
            </div>



</mat-card>



 
    
      
      
   
    
  

    <button (click)="removerAnalyses(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   


  </mat-card>
</div>




    <button  style="margin-left: 50%" (click)="guardar(analyses)"> GUARDAR</button>
  



  



  