
  
  <mat-label style="font-size: large; font-weight: bold;" ><span>Variables </span></mat-label>
  <button (click)="agregarVariable()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>
  <mat-card>

  <table>
    <tr>
      <th>name</th>
      <th>type</th>
      <th>description</th>
      <th>domain</th>
      <th >untis</th>
    </tr>

<tbody formArrayName="variable" *ngFor="let variable of variables; let i = index " >
  
  
    
    
     
      <td >  Name      
        <input [(ngModel)]="variable.name" placeholder="Name"/>
      
      </td>

      <td >   Type
       
        <select [(ngModel)]="variable.type" placeholder="type"  >
          <option value="Controllable_factor">Controllable factor </option>
          <option value="Not_Controllable factor">Not Controllable factor</option>
          <option value="OutCome">Outcome ( a.k.a depend variable or response variable)</option>
          <option value="Nuisance">Nuisance ( a.k.a moderating variable)</option>
          
        </select>   
      
      </td>
      
      <td >   Description   
        <input [(ngModel)]="variable.description" placeholder="description"/> 
        
      </td>
      <td >   Domain
      
      
        <select  [(ngModel)]="variable.domain" placeholder="domain">
            <option *ngFor="let dom of domains" [value]="dom.value">
                {{dom.viewValue}}
            </option>
        </select>
      
      </td>
    
        
        
     
      <div *ngIf="variable.domain == domains[1].value">
        <td>  Units



       
        <select [(ngModel)]="variable.units" placeholder="units">
          <option value="Float">Float</option>
          <option value="Integer">Integer</option>
          <option value="String">String</option>
          
        </select>


 </td>
    
    </div>
    <div *ngIf="variable.domain == domains[0].value">
      <mat-card>
      <td>  Units


        <button (click)="agregarType(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          +
        </button>
        
  <table>
    <tr>
      <th>name</th>
      <th>description</th>
    
      <th >unti</th>
    </tr>
      <tbody formArrayName="type" *ngFor="let type of variable.types; let j = index " >
        
        
          
          
           
            <td >  Name      
              <input [(ngModel)]="type.name" placeholder="Name"/>
            
            </td>
            <td >  Description      
              <input [(ngModel)]="type.description" placeholder="description"/>
            
            </td>
            <td >  Name      
              <input [(ngModel)]="type.unit" placeholder="unit"/>
            
            </td>
            <td>  
              <button (click)="removerType(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
             
            </td>
      </tbody>
  </table>

</td>

</mat-card>


  </div>
 
    
      
      
   
    
  
  <td>  
    <button (click)="removerVariables(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   
  </td>

  
</tbody>
  </table>
</mat-card>


    <button  style="margin-left: 50%" (click)="guardar(variables)"> GUARDAR</button>
  



  



  