
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-label style="font-size: large; font-weight: bold;" ><span>Variables </span></mat-label>
  <button (click)="agregarVariable()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>

  <div *ngIf= "error">
    <h1 style="color: red;" > {{errorMen}}</h1>
 

  </div>

<div formArrayName="variable" *ngFor="let variable of variables; let i = index " >
  
  <mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
    
    
     
      Name      
        <input [(ngModel)]="variable.name" placeholder="Name" id = "name"   (ngModelChange)="saverange($event,i)" />    
            
        <div *ngFor="let v of variables; let varia = index " >
        <div *ngIf="i !=varia" >
        
        <div *ngIf="variables[i].name ===  variables[varia].name" style="color: red;">
          Error* el nombre esta repetido
      </div>
    </div>
  </div>
    

      Type
       
        <select [(ngModel)]="variable.type" placeholder="type"  >
          <option value="Controllable_factor">Controllable factor </option>
          <option value="Not_Controllable factor">Not Controllable factor</option>
          <option value="OutCome">Outcome ( a.k.a depend variable or response variable)</option>
          <option value="Nuisance">Nuisance ( a.k.a moderating variable)</option>
          
        </select>   
        <div *ngIf="variable.type != 'OutCome'">
      
  
      
   Description   
       
        
        <ckeditor  max-width= 50%;    [editor]="Editor" [(ngModel)]="variable.description" placeholder="description"></ckeditor>
        
  
       Domain
      
      
        <select  [(ngModel)]="variable.domain" placeholder="domain">
          <option value="One_of">One of</option>
          <option value="Of_type">of type</option>
        </select>
      
      
    
        
        
     
      <div *ngIf="variable.domain == 'Of_type'">
      Domain units



       
        <select [(ngModel)]="variable.domain_units" placeholder="units">
          <option value="Float">Float</option>
          <option value="Integer">Integer</option>
          <option value="String">String</option>
          <option value="Boolean">Boolean</option>
          
        </select>



    
    </div>
    <div *ngIf="variable.domain == 'One_of'">
     
      <p>
        <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
      <td>  Domain


        <button (click)="agregarType(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          +
        </button>
        Ordered
        <select [(ngModel)]="variable.ordered" placeholder="units">
          <option value= true >True</option>
          <option value= false >False</option>
         
          
        </select>

   
      <div formArrayName="type" *ngFor="let type of variable.types; let j = index " >
        
        
      
           
         Name      
              <input [(ngModel)]="type.name" placeholder="Name"/>
            
          
    Description      
              <input [(ngModel)]="type.description" placeholder="description"/>
            
       
            
        
              
              <button (click)="removerType(i,j)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
             
      </div>


</td>

</mat-card>
      </p>


  </div>
  
      
  Units   
  <input [(ngModel)]="variable.units" placeholder="units"/> 
    
      
      
   
    </div>

  
  
    <button (click)="removerVariables(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   


  



</mat-card>
</div>
    <button  style="margin-left: 50%" (click)="guardar(variables)"> GUARDAR</button>
  



  </div>



  