<h4>Context</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  
  <div class="form-group row" formGroupName="absctract">
    <label class="col-2 col-form-label">Absctract:</label>
    <div class="form-row col">

        <div class="form-row col">

         Context :  <input type="text"
                 class="form-control"
                 placeholder="Context"
                 formControlName="context">
                 

        

        

         Goal : <input type="text"
                 class="form-control"
                 placeholder="GOAL"
                 formControlName="goal"
                >

        
        
          Method
          <input type="text"
                 class="form-control"
                 placeholder="Method"
                 formControlName="method"
                 >

        
       
          Result
          <input type="text"
                 class="form-control"
                 placeholder="Result"
                 formControlName="result"
                >

      
  
          Conclusions
          <input type="text"
                 class="form-control"
                 placeholder="Conclusions"
                 formControlName="conclusions"
                 
                >

    </div>

    </div>
  </div>
   
  <div class="form-group row" formGroupName="goal">
    <label class="col-2 col-form-label">Goal:</label>
    <div class="form-row col">

        <div class="form-row col">

         Analyce :  
         <input type="text"
                class="form-control"
                placeholder="Analyce"
                formControlName="analyce">


        for purpose of : 
        <input type="text"
         class="form-control"
         placeholder="for purpose of"
         formControlName="purpose_of">

        
        
          With respect to
          <input type="text"
                 class="form-control"
                 placeholder="With respect to"
                 formControlName="respect_to"
                 >

        
       
         From the point of view of 
          <input type="text"
                 class="form-control"
                 placeholder=" From the point of view of "
                 formControlName="point_of_view"
                >

      
  
          In the context of 
          <input type="text"
                 class="form-control"
                 placeholder="In the context of "
                 formControlName="context_of"
                 
                >

    </div>

    </div>
  </div>

  

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>organization</th>
        <th>rol</th>
        <th>task</th>
        <th> <button (click)="agregarExperimenters()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>+</mat-icon>
        </button></th>
      </tr>
    </thead>
    

<tbody formArrayName="experimenters" *ngFor="let experimenters of experimenters.controls; let i = index" >
  
  
    <tr [formGroupName]="i" >
    
     
      <td >        
        <input  type="text" [attr.id]="'name' + i" class="form-control" formControlName="name">
      </td>
      
      <td >       
        <input  type="text" [attr.id]="'email' + i" class="form-control" formControlName="email">
      </td>
      
      <td>  
        <input  type="text" [attr.id]="'organization' + i" class="form-control" formControlName="organization">
      </td>
     
      <td >       
        <input type="text" [attr.id]="'rol' + i" class="form-control" formControlName="rol">
      </td>
      
   
    
  <ckeditor config.width = '75%' [editor]="Editor"  (ready)="onReady($event)"[attr.id]="'task' + i"formControlName="task"></ckeditor>
  <td>  
    <button (click)="removerExperimenters(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
  </tr>
  
</tbody>
</table>




  


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>


<hr>


<pre>

  {{ forma.value | json }}

</pre>