<h4>Design</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  
  <div class="form-group row" formGroupName="absctract">
    

        <div class="form-row col">

          <mat-label>Design </mat-label>
          <select class="form-control" formControlName="design" matNativeControl required>
            <option value="Custom">Custom/Exhaustively described</option>
            <option value="Pre-test/post-test">Pre-test/post-test control group design</option>
            <option value="solomon">Solomon four group design </option>
            <option value="control_group">Post-test only control group design </option>
            
          </select>
                 

        

        

         Descripcion  : <input type="text"
                 class="form-control"
                 placeholder="descripcion"
                 formControlName="description"
                >
                
  <mat-label>Design parameters </mat-label>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Parameters</th>
                      <th>value</th>
                      <th>measured in </th>
                      <th>descripcion </th>
                      <th> <button (click)=" agregarDesign_parameters()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>+</mat-icon>
                      </button></th>
                    </tr>
                  </thead>
                  
              
              <tbody formArrayName="Design_parameters" *ngFor="let  Design_parameters of  Design_parameters.controls; let i = index" >
                
                
                  <tr [formGroupName]="i" >
                  
                   
                    <td >        
                      <input  type="text" [attr.id]="'parameter' + i" class="form-control" formControlName="parameter">
                    </td>
                    
                    <td >       
                      <input  type="text" [attr.id]="'value' + i" class="form-control" formControlName="value">
                    </td>
                    
                    <td>  
                      <input  type="text" [attr.id]="'measured_in' + i" class="form-control" formControlName="measured_in">
                    </td>
                   
                    <td >       
                      <input type="text" [attr.id]="'description' + i" class="form-control" formControlName="description">
                    </td>
                    
                 
                  
               <td>  
                  <button (click)="removerDesign_parameters(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
                </tr>
                
              </tbody>
              </table>
        </div>
        
       
     
  </div>
  <mat-label>Random assignement of subject to groups  </mat-label>
  <select class="form-control" formControlName="Random" matNativeControl required>
    <option value="true">true</option>
    <option value="false">false</option>
    
    
  </select>

  Descripcion of the assignement method  : <input type="text"
  class="form-control"
  placeholder="descripcion"
  formControlName="description"
 >
 <mat-label>Blocking  variables </mat-label>
 <table class="table">
   <thead class="thead-dark">
     <tr>
       <th>variable</th>
       <th> <button (click)="agregarBlocking()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
         <mat-icon>+</mat-icon>
       </button></th>
     </tr>
   </thead>
   

<tbody formArrayName="blocking" *ngFor="let blocking of blocking.controls; let i = index" >
 
 
   <tr [formGroupName]="i" >
   
    
     <td >        
       <input  type="text" [attr.id]="'name' + i" class="form-control" formControlName="name">
     </td>  
<td>  
   <button (click)="removerBlocking(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
     <mat-icon>delete</mat-icon>
   </button>
 </td>
 </tr>
 
</tbody>
</table>
<mat-label>Groups </mat-label>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th> <button (click)="agregarGroups()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>+</mat-icon>
      </button></th>
    </tr>
  </thead>
  

<tbody formArrayName="groups" *ngFor="let groups of groups.controls; let i = index" >


  <tr [formGroupName]="i" >
  
   
    <td >        
      <input  type="text" [attr.id]="'name' + i" class="form-control" formControlName="name">
    </td> 
    <td >        
      <input  type="text" [attr.id]="'size' + i" class="form-control" formControlName="size">
    </td>  
<td>  
  <button (click)="removerGroups(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
</td>
</tr>

</tbody>
</table>
  
<mat-label>Protocol </mat-label>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>variable</th>
      <th> <button (click)="agregarProtocols()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>+</mat-icon>
      </button></th>
    </tr>
  </thead>
  

<tbody formArrayName="protocols" *ngFor="let protocols of protocols.controls; let i = index" >


  <tr [formGroupName]="i" >
  
   
    <td >        
      <input  type="text" [attr.id]="'name' + i" class="form-control" formControlName="name">
    </td>  
<td>  
  <button (click)="removerProtocols(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>delete</mat-icon>
  </button>
</td>
</tr>

</tbody>
</table>




  


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>


<hr>


<pre>

  {{ forma.value | json }}

</pre>