 
 
  <mat-label style="font-size: large; font-weight: bold;">
  <span>Hypotheses </span>
  <button (click)="agregarHypotheses()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>
</mat-label>


  
  <div formArrayName="hypotheses" *ngFor="let hypothese of hypotheses; let i = index " >
    
    <mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
        Name      
        <input [(ngModel)]="hypothese.name" placeholder="Name"/>
      
     
      
      Type   
        
        <select   [(ngModel)]="hypothese.type" placeholder="description">
            <option value="impacted">Is impacted significatly by </option>
            <option value="Correloated">Is correloated with </option>
            <option value="Described">Described in natural language </option>
          
            
          </select>
        
  
      
     Description
        <input [(ngModel)]="hypothese.description" placeholder="type"/>
        
    
     
        variable   
        
        <select  [(ngModel)]="hypothese.variable" placeholder="description">
            <option  *ngFor="let variable of Variable; let i = index " value="{{variable.name}}">{{variable.name}} </option>
                       
          </select>
        
      
     
      
      
   
    

    <button (click)="removerHypotheses(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   


  


</mat-card>

  
</div>



  <button style="margin-left: 50%"(click)="guardar(hypotheses)"> GUARDAR</button>
  
  



  