 
 
  <mat-label style="font-size: large; font-weight: bold;">
  <span>Hypotheses </span>
  <button (click)="agregarHypotheses()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>
</mat-label>

  <mat-card>
  
  <tbody formArrayName="hypotheses" *ngFor="let hypothese of hypotheses; let i = index " >
    
     
      <td >  Name      
        <input [(ngModel)]="hypothese.name" placeholder="Name"/>
      
      </td>
      
      <td >   Type   
        
        <select   [(ngModel)]="hypothese.type" placeholder="description">
            <option value="impacted">Is impacted significatly by </option>
            <option value="Correloated">Is correloated with </option>
            <option value="Described">Described in natural language </option>
          
            
          </select>
        
      </td>
      
      <td>  Description
        <input [(ngModel)]="hypothese.description" placeholder="type"/>
        
      </td>
     
      <td >   variable   
        
        <select  [(ngModel)]="hypothese.variable" placeholder="description">
            <option  *ngFor="let variable of Variable; let i = index " value="{{variable.name}}">{{variable.name}} </option>
                       
          </select>
        
      </td>
     
      
      
   
    
  
  <td>  
    <button (click)="removerHypotheses(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   
  </td>

  




  
  </tbody>
</mat-card>


  <button style="margin-left: 50%"(click)="guardar(hypotheses)"> GUARDAR</button>
  
  



  