 
 
  <mat-label style="font-size: large; font-weight: bold;">
  <span>Hypotheses </span>
  <button (click)="agregarHypotheses()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>
</mat-label>

<div *ngIf= "error">
  <h1 style="color: red;" > {{errorMen}}</h1>


</div>
  
  <div formArrayName="hypotheses" *ngFor="let hypothese of hypotheses; let i = index " >
    
  
    
    <mat-card  style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
        Name      
        <input [(ngModel)]="hypothese.name" placeholder="Name"/>
        <div *ngFor="let v of hypotheses; let varia = index " >
          <div *ngIf="i !=varia" >
          
          <div *ngIf="hypotheses[i].name ===  hypotheses[varia].name" style="color: red;">
            Error* el nombre esta repetido
        </div>
      </div>
    </div>
      
     
      
      Type   
        
        <select   [(ngModel)]="hypothese.type" placeholder="type">
            <option value="impacted">Is impacted significatly by </option>
            <option value="Correloated">Is correloated with </option>
            <option value="Described">Described in natural language </option>
          
            
          </select>
        
  
      
     Description
       
        <ckeditor  max-width= 50%;    [editor]="Editor"[(ngModel)]="hypothese.description"  placeholder="description"></ckeditor>
        
    
     
        variable    outcome
        
        <select  [(ngModel)]="hypothese.variable" placeholder="description">
            <option  *ngFor="let variable of Variable; let i = index " value="{{variable.name}}">{{variable.name}} </option>
                       
          </select>
        
      
     variable
      <select  [(ngModel)]="hypothese.variable_outcome" placeholder="description">
      <option  *ngFor="let variableOut of Variable_Outcome ; let j = index " value="{{variableOut.name}}">{{variableOut.name}} </option>
                 
    </select>
      
      
   
    

    <button (click)="removerHypotheses(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
   


  


</mat-card>

  
</div>



  <button style="margin-left: 50%"(click)="guardar(hypotheses)"> GUARDAR</button>
  
  



  