<body>
<h1>Design</h1>

<mat-card style="background-color:rgb(209, 209, 209);">

<mat-label style="font-size: large; font-weight: bold;">
  <span>Design </span>
</mat-label>
  
 
 
  <button id= "agregarDesign"  (click)="agregarDesign()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
    +
  </button>
  <div *ngIf= "!comprobacion">
    <h1 style="color: red;" >   {{errorMen}}</h1>
 

  </div>
  <div *ngIf= "error">
    <h1 style="color: red;" > {{errorMen}}</h1>
 

  </div>

 
  
  
<div formArrayName="design" *ngFor="let design of Desing; let i = index " >
  
  <mat-card style="background-color: rgb(204, 197, 197); margin-bottom: 2%;">
  <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
    

    
     
       <h2>Design     </h2>
      
        <select id = "design" class = "design" [(ngModel)]="design.design" placeholder="Design">
            <option value="Custom">Custom/Exhaustively described</option>
            <option value="Pre-test/post-test">Pre-test/post-test control group design</option>
            <option value="solomon">Solomon four group design </option>
            <option value="control_group">Post-test only control group design </option>
            
          </select>
                 
      
      
        <h2>Description  </h2> 
        
        <ckeditor id = "design.description" max-width= 50%;    [editor]="Editor" [(ngModel)]="design.description" placeholder="description"></ckeditor>
      </mat-card>
      
       <h2> Parameters


        <button  id = "agregarParameters"  (click)="agregarParameters(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          +
        </button>
      </h2>
        <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
          
           
      <div formArrayName="parameter" *ngFor="let parameters of design.design_parameters; let p = index " >
        
        
          
          
           
             Name      
              <input id ="parameters.name" [(ngModel)]="parameters.name" placeholder="Name"/>
            
            
             value      
              <input id ="parameters.value" [(ngModel)]="parameters.value" placeholder="description"/>
            
            
             description      
              <input id ="parameters.description" [(ngModel)]="parameters.description" placeholder="description"/>
            
            
             measure In       
                <input id ="parameters.measure_in"  [(ngModel)]="parameters.measure_in" placeholder="measure_in"/>
              
              
              
              <button  id="removerParameters" (click)="removerParameters(i,p)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
             
            
        </div>
          
        </mat-card>

      <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">

      <h2>Random Assignment </h2>  
      <select id="design.random_assignment" [(ngModel)]="design.random_assignment" placeholder="random_assignment">
        <option value= 'true'>true</option>
        <option value= 'false' >false</option>
      </select>
     
    <div *ngIf="random_ass(design.random_assignment)">
    
  
    Description    of assignement
    <input id = "design.description_assignmentMethod" [(ngModel)]="design.description_assignmentMethod" placeholder="description_assignmentMethod"/> 
    
  </div>

  </mat-card>
  
      
       <div *ngIf = " design.design == 'Custom'">
        
<h2>Groups


    <button id="agregarGroups" (click)="agregarGroups(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      +
    </button></h2>
    <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218); ">
      
    
  <div formArrayName="group" *ngFor="let group of design.groups; let g = index " >
    
    
      
      
       
         Name      
          <input id = "group.name" [(ngModel)]="group.name" placeholder="Name"/>
        
        
         size      
          <input  id = "group.size" [(ngModel)]="group.size" placeholder="size"/>
        
        
      
          
          <button id = "removerGroup" (click)="removerGroup(i,g)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
         
        
  </div>
      
    </mat-card>
  </div>
    
  


  <div *ngIf = " design.design == 'Custom'">
  <h2>Protocol


    <button id ="agregarProtocol" (click)="agregarProtocol(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      +
    </button></h2>
    <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
     
  <div formArrayName="protocol" *ngFor="let protocol of design.protocols; let pr = index " >
    
    
      
      
       
         Name      
          <input id  ="protocol.name" [(ngModel)]="protocol.name" placeholder="Name"/>
        
        
         type      
          
          <select id  ="protocol.type"  [(ngModel)]="protocol.type" placeholder="type">
            <option value="Treatment">Treatment</option>
            <option value="Measurement">Measurement</option>
            <option value="Treatment_&_Measurement">Treatment & Measurement </option>
            
          </select>
        
        
         On group      
      
          <select id  ="protocol.onGroup" [(ngModel)]="protocol.onGroup" placeholder="onGroup">
            <option  *ngFor="let group of design.groups; let i = index " value="{{group}}">{{group.name}} </option>
                       
          </select>
        
        

          Variable


          <button id  ="agregarSetting" (click)="agregarSetting(i,pr)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            +
          </button>
          <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">


           
        <div formArrayName="setting" *ngFor="let setting of protocol.settings; let st = index " >
          
          
            
            
             <div *ngIf="protocol.type == 'Treatment' || protocol.type == 'Treatment_&_Measurement'">
               Name      
            
                <select id = "setting.varName" [(ngModel)]="setting.varName" placeholder="Name">
                  <option  *ngFor="let variable of Variables; let i = index " value="{{variable.name}}">{{variable.name}}   </option>
                
                             
                </select>
              
              
               Value     
               
                <input id  ="setting.varValue"  [(ngModel)]="setting.varValue" placeholder="type"/>
                <div *ngIf="!valorvariable(setting.varName,setting.varValue)"> 
                  <h1 style="color: red;" > ERROR+</h1>
                </div> 
              </div>
              <div *ngIf="protocol.type == 'Measurement' || protocol.type == 'Treatment_&_Measurement'">
                Outcome
              <select  id = "setting.varOutcome" [(ngModel)]="setting.varOutcome" placeholder="outcome">
                <option  *ngFor="let variable of Variable_Outcome; let i = index " value="{{variable.name}}">{{variable.name}} </option>
                           
              </select>
              </div>
            
              
              
            
                
                <button id = "removerSetting" (click)="removerSetting(i,pr,st)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
               
              
        </div>
            
          </mat-card>
      
          
          <button id = "removerProtocol" (click)="removerProtocol(i,pr)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
         
        
  </div>
      
    </mat-card>
  </div>

  <div *ngIf = " design.design == 'Custom'">
  <h2> Bloquing Variables 

<div  *ngIf = " contador != Variables?.length && Variables?.length" >

    <button id ="agregarBloquingVars" (click)="agregarBloquingVars(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      +
    </button> 
  </div>
</h2>

    <mat-card style="margin-bottom: 1%; background-color: rgb(207, 213, 218);">
    
  <div formArrayName="var" *ngFor="let bloquingVar of design.BloquingVars; let bv = index " >
    
    
      
      
    <select id ="bloquingVar.name"  [(ngModel)]="bloquingVar.name" placeholder="variable name">
        <option  *ngFor="let variable of Variables; let i = index " value="{{variable.name}}">{{variable.name}}   </option>
      
                   
      </select>
    
      
          
          <button id ="removerVars" (click)="removerVars(i,bv)" mat-fab color="primary" aria-label="Example icon button with a delete icon"> eliminar</button>
         
        
  </div>
    </mat-card>
  </div>
  
  


  
    
    
  
    
    <button id = "removerDesign" (click)="removerDesign(i)" mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-left: 40%;"> eliminar</button>
   
  
    
  </mat-card>
  
</div>


  
    <button  style="margin-left: 50%" (click)="guardar(Desing)"> GUARDAR</button>
  



  



  </mat-card>
</body>